@charset "UTF-8";

$primary: #333333;
$navbar-background-color: $primary;
$link: #27558f;
$background: #464646;
$navbar-item-color: white;

body {
  background-color: $background;
  height: 100vw;
}

.swiper {
  width: 600px;
  height: 300px;
}

@import "~bulma/bulma";


